body{
	margin: 0 auto;
	clear: both;
	font-family: 'Open Sans', 'sans-serif';
}
header{
	min-height: 55px;
	background-color: #383838;
}
img{
	margin-left: 30px;
}
#navigation{
	float:right;
	margin-right: 20px;
}
nav ul{
	list-style-type: none;
}
nav ul li {
	display: inline;
	margin: 10px;
}
.top-btn{
	margin-top: 10px !important;
}
footer{
	height: 250px;
	background-color: #383838;
	clear:both;
	margin: 0 auto;
}
.links{
	margin-top: 20px;
	margin-left: 50px;
}
footer article{
}
footer article ul{
	margin:0 auto;
	list-style-type: none;
}
footer article h4, h5{
	color: white;
}
#outsrc{
	
}